.container {
  height: 60vh;
  background-size: cover;
  background-clip: border-box;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* transition: all 1.5s; */
  /* transition-delay: 0.1s; */
}
.container:hover {
  /* height: 63vh; */
}

.card {
  /* max-width: 600px; */
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  padding: 0.8rem 1.5rem 0.8rem 2.2rem;
  border: none;
  border-radius: 50px;
  background-color: rgb(180, 143, 8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.541);
  z-index: 10;
}
.title {
  cursor: pointer;
  max-width: 800px;
  line-height: 4rem;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.description {
  cursor: pointer;
  color: rgb(224, 224, 224);
  font-size: 1rem;
  max-width: 600px;
  margin: 0.1rem 0 0.4rem 0;
}

.genres {
  color: aliceblue;
  display: flex;
  gap: 1rem;
}
.genres p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.genres p::before {
  content: "\2022";
  font-size: 2rem;
  vertical-align: bottom;
}
