.LoadingAnimation {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(215, 208, 208);
  height: 3px;
  z-index: 999999999999;
  animation: loading 3s linear;
  animation-fill-mode: forwards;
}

@keyframes loading {
  0% {
    width: 5%;
  }
  100% {
    width: 98%;
  }
}
