.h4 {
  color: rgb(222, 176, 10);
  font-weight: normal;
  font-size: 1rem;
}
.p,
.span {
  color: rgb(207, 213, 219);
  font-weight: normal;
  font-size: 1rem;
}

.na {
  color: rgb(149, 157, 165);
}
